/* General Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #6E6E6E;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

main {
  display: flex;
  height: calc(100% - 90px);
  overflow-y: hidden;
}

h1 {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

h2 {
  color: #D2D2D2;
  margin-bottom: 10px;
}
h3 {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  color: #D2D2D2;
}
h4 {
  font-size: 14px;
  font-weight: 500;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* /General Settings */

/* nav section */
#main_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 100%;
  min-height: 470px;
  overflow: hidden;
  padding: 15px 20px 5px 20px;
  background-color: black;
}
#main_nav ul li {
  padding: 7px 0;
}
#main_nav a {
  font-size: 14px;
}
#main_nav a:hover{
  color: #D2D2D2;
}

.nav_top {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 75px);
}

/* top nav */
#nav_upper .nav_logo {
  display: flex;
  padding-bottom: 5px;
}
#nav_upper .nav_logo img {
  width: 80%;
}

#nav_upper .nav_menu {
  padding: 15px 0 20px 0;
}
#nav_upper .nav_menu ul li a{
  display: flex;
  align-items: center;
}

#nav_upper .nav_icon {
  width: 25px;
  margin-right: 12px;
  font-size: 23px;
}
/* /top nav */

/* central nav  */
#nav_central {
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

#nav_central .create_playlist {
  padding: 12px 0;
}

#nav_central .create_playlist a {
  display: flex;
  align-items: center;
  font-size: 15px;
}

#nav_central .create_playlist .add_button {
  display: flex;
  width: 37px;
  height: 37px;
  background-color: #6E6E6E;
  margin-right: 12px;
}

#nav_central .create_playlist .add_button:hover {
  background-color: #D2D2D2;
}

#nav_central .create_playlist .add_button .fas {
  margin: auto;
  font-size: 20px;
  color: #040404;
}
#nav_central .list_playlist{
  height: 100%;
  overflow-y: auto;
}
/* /central nav */

/* lower nav */
#nav_lower .install_app {
  padding: 12px 0;
  border-bottom: 1px solid #6E6E6E;
}
#nav_lower .install_app a{
  display: flex;
}
#nav_lower .install_app .far {
  margin-right: 12px;
}

#nav_lower .spotify_user {
  display: flex;
  align-items: center;
  padding-top: 12px;
}
#nav_lower .user_pic {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  border-radius: 100%;
  overflow: hidden;
  background-image: url("../img/avatar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#nav_lower .name_id {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
/* /lower nav */

/* /nav section */

/* content section */
#main_content {
  width: calc(100% - 230px);
  height: 100%;
  overflow-y: auto;
  background-color: #141922;
}
/* cta section */
#main_content .cta {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 230px);
  height: 80px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
#main_content .cta a {
  margin: auto 20px;
  padding: 12px 40px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #E7E7E8;
  border: 1px solid #E7E7E8;
  border-radius: 50px;
}
#main_content .cta a:hover {
  transform: scale(1.1);
}
/* /cta section */

#main_content .container {
  margin-top: 80px;
  padding: 20px;
}

/* index section */
#index {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  flex-wrap: wrap;
}
#index a {
  margin: 0 12px;
  font-weight: 600;
}
#index a:hover {
  color: #D2D2D2;
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background-color: #78B02B;
}
/* index section */

/* music albums section */
.album_list {
  display: flex;
  flex-wrap: wrap;
}
.music_albums {
  margin: 30px 0;
}

.album_list {
  display: flex;
  margin: 20px 0;
}

.album {
  width: calc(100% / 6);
  padding-right: 20px;
}
.album .img_album {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.album .img_album img {
  width: 100%;
  opacity: 0.9;
}
.album .img_album:hover > img {
  cursor: pointer;
  opacity: 0.4;
}

.album .img_album .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.album .img_album .overlay .far {
  opacity: 0;
  font-size: 65px;
  color: #D2D2D2;
}
.album .img_album:hover > .overlay .far {
  cursor: pointer;
  opacity: 1;
}

.txt_album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  border-radius: 100%;
  overflow: hidden;
}

/* /music albums section */
/* /content section */

/* footer section */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #282828;
}

.progress_score:hover,
.volume_bar:hover {
  cursor: pointer;
}
.progress_score:hover > .listened_score,
.volume_bar:hover > .volume_bar_progress {
  background-color: #1BD760;
}
.score_hover {
  content= "";
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 100%;
  background-color: #D2D2D2;
  opacity: 0;
}
.progress_score:hover .score_hover,
.volume_bar:hover .score_hover {
  opacity: 1;
}

/* left footer section */
#footer_left {
  display: flex;
  align-items: center;
  width: 230px;
  padding-left: 10px;
}

#footer_left .img_now_playing {
  position: relative;
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

#footer_left .img_now_playing img {
  height: 100%;
  opacity: 0.6;
}

#footer_left .img_now_playing:hover {
  cursor: pointer;
}

#footer_left .txt_now_playing {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.title_now_playing {
  font-size: 13px;
  color: white;
  font-weight: 600;
}
.artist_now_playing {
  font-size: 11px;
}
.artist_now_playing:hover {
  text-decoration: underline;
  color: white;
}

.save_song button {
  width: 22px;
  border: none;
  color: #6E6E6E;
  background-color: transparent;
}
.save_song button:hover {
  cursor: pointer;
  color: #D2D2D2;
}

.save_song button .far{
  font-size: 15px;
  font-weight: 500;
}
/* /left footer section */

/* center footer section */
#footer_center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 45%;
}

.player_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding-top: 10px;
}

.player_buttons button {
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  background-color: transparent;
}
.player_buttons button i:hover {
  cursor: pointer;
}

#play {
  margin: 0 10px;
}
#play:hover {
  transform: scale(1.2);
}
.player_buttons button .far {
  font-size: 29px;
}
.player_buttons button .fas{
  font-size: 16px;
}

.player_score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  padding-bottom: 12px;
}

.progress_score {
  width: 90%;
  height: 4px;
  margin: 0 20px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #545454;
  overflow: visible;
}
.listened_score {
  position: relative;
  width: 25%;
  height: 100%;
  background-color: #c1c1c1;
  overflow: visible;
}

.time_score {
  display: flex;
}
.time_score span {
  height: 100%;
  font-size: 11px;
  color: white;
}
/* /center footer section */

/* right footer section */
#footer_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 230px;
  padding-right: 10px;
}

.function_buttons {
  display: flex;
}
.function_buttons button {
  width: 28px;
  border: none;
  color: white;
  background-color: transparent;
}
.function_buttons button i {
  font-size: 12px;
}
.function_buttons button i:hover {
  cursor: pointer;
}

.volume_bar {
  width: 45%;
  height: 4px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  background-color: #545454;
  overflow: visible;
}
.volume_bar_progress {
  position: relative;
  width: 20%;
  height: 100%;
  background-color: #c1c1c1;
  overflow: visible;
}
/* /right footer section */
/* /footer section */


/* xs devices */
@media only screen and (max-width: 767px) {
  /* nav section */
  #main_nav {
    width: 45px;
    padding: 5px 0;
  }

  #extended_logo,
  #main_nav span,
  #nav_central {
    display: none;
  }

  #nav_upper .nav_icon,
  #nav_lower .download_icon {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  /* top nav */
  #nav_upper a {
    width: 100%;
    text-align: center;
  }
  #nav_upper .nav_logo {
    padding: 0;
  }
  #nav_upper .nav_logo img {
    width: 65%;
  }

  #nav_upper .nav_menu {
    padding-top: 0;
  }
  #nav_upper .nav_menu .fas {
    font-size: 22px;
  }
  /* /top nav */


  /* lower nav */
  #nav_lower .install_app {
    border-bottom: none;
  }

  #nav_lower .install_app .far,
  #nav_lower .user_pic {
    margin: auto;
  }
  #nav_lower .spotify_user {
    padding-top: 0;
  }
  #nav_lower .user_pic {
    width: 24px;
    height: 24px;
  }
  /* /lower nav */
  /* /nav section */

  /* main section */
  #main_content {
    width: calc(100% - 45px);
  }
  #main_content .cta {
    width: calc(100% - 45px);
  }
  #main_content .cta a {
    font-size: 10px;
    padding: 10px 30px;
  }
  /* /main section */

  /* footer */
  /* footer left */
  #footer_left,
  #footer_right {
    width: 180px;
  }

  #footer_left .img_now_playing {
    width: 35px;
    height: 35px;
    margin-right: 8px;
  }

  #footer_left .txt_now_playing {
    margin-right: 0;
  }
  .title_now_playing {
    font-size: 11px;
    color: white;
    font-weight: 500;
  }
  .artist_now_playing {
    font-size: 9px;
  }

  .save_song button {
    width: 15px;
    padding: 0 5px;
  }
  .save_song button .far{
    font-size: 13px;
    font-weight: 500;
  }
  /* /footer left */

  /* footer center */
  .player_buttons button {
    width: 20px;
    height: 40px;
  }
  #play {
    margin: 0 10px;
  }
  .player_buttons button .far {
    font-size: 22px;
  }
  .player_buttons button .fas{
    font-size: 12px;
  }

  .player_score {
    width: 90%;
  }
  .progress_score {
    margin: 0 10px;
  }
  .time_score span {
    font-size: 9px;
  }
  /* /footer center */

  /* footer right */
  .function_buttons button {
    width: 15px;
    height: 15px;
  }
  .function_buttons button i {
    font-size: 9px;
  }
  .volume_bar {
    width: 45%;
    margin-left: 5px;
  }
  /* /footer right */
  /* /footer */
}
/* /xs devices */

/* s devices  */
@media only screen and (max-width: 991px) {
  .album_list .album {
    width: calc(100% / 2);
  }

  #index a {
    font-size: 13px;
  }

  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 15px;
  }
  h4{
    font-size: 13px;
  }
}
/* /s devices  */

/* md devices */
@media only screen and (max-width: 1199px) {
  .album {
    width: calc(100% / 4);
    padding-bottom: 25px;
  }

  #index a {
    margin-bottom: 20px;
  }
}
/* /md devices */

/* all devices except xs */
@media only screen and (min-width: 768px) {
  #nav_upper #short_logo {
    display: none;
  }
}
/* /all devices except xs */
