/* General Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #B3B3B3;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

main {
  display: flex;
  height: calc(100% - 100px);
  background-color: green;
  overflow-y: hidden;
}

h1 {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* /General Settings */

/* nav section */
#main_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  background-color: #040404;
  overflow: hidden;
  padding: 15px 20px 5px 20px;
}
#main_nav ul li {
  padding: 7px 0;
}
#main_nav a {
  font-size: 14px;
}

/* upper nav */
#nav_upper .nav_logo {
  display: flex;
  padding-bottom: 5px;
}
#nav_upper .nav_logo img {
  width: 80%;
}

#nav_upper .nav_menu {
  padding: 15px 0 20px 0;
}
#nav_upper .nav_menu ul li a{
  display: flex;
  align-items: center;
}

#nav_upper .nav_icon {
  width: 25px;
  margin-right: 12px;
  font-size: 23px;
}
/* /upper nav */

/* central nav  */
#nav_central .create_playlist {
  padding: 12px 0;
}

#nav_central .create_playlist a {
  display: flex;
  align-items: center;
  font-size: 15px;
}

#nav_central .create_playlist .add_button {
  display: flex;
  width: 37px;
  height: 37px;
  background-color: #B3B3B3;
  margin-right: 12px;
}
#nav_central .create_playlist .add_button .fas {
  margin: auto;
  font-size: 20px;
  color: #040404;
}
/* /central nav */

/* lower nav */
#nav_lower .install_app {
  padding-bottom: 12px;
  border-bottom: 1px solid #B3B3B3;
}
#nav_lower .install_app a{
  display: flex;
}
#nav_lower .install_app .far {
  margin-right: 12px;
}

#nav_lower .spotify_user {
  display: flex;
  align-items: center;
  padding-top: 12px;
}
#nav_lower .user_pic {
  width: 27px;
  margin-right: 12px;
  border-radius: 100%;
  overflow: hidden;
}
#nav_lower .user_pic img{
  width: 100%;
}

#nav_lower .name_id {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
/* /lower nav */

/* /nav section */

#main_content {
  width: calc(100% - 220px);
  height: 100%;
  background-color: #131313;
  overflow-y: scroll;
}

footer {
  height: 100px;
  background-color: #282828;
}
